:root {
  --czerwony: #f30000;
  --jasno-szary: #f1f1f1;
  --szary: #e0dfdf;
  --obramowanie: #626262;
  --menu: #f7f7f7;
}

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a.baner:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a.mi:hover {
    color: var(--czerwony);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
body {
  font-family: Tahoma;
  background-color: #ffffff;
  color: black;
}

.menu {
  background: var(--menu);
  height: 55px;
}

.menu_m{
  background-image: url(images/menu.svg);
  background-color: transparent;
  width: 58px;
  height: 41px;
  border: none;
  box-shadow: none;
}

.dropdown-backdrop{
  background-color: var(--szary);
}

.menu_ul{
  background-color: #999999;
  border: none;
  box-shadow: none;
  border-radius: 40px;
  width: 95vw;
  height: 45vh;
  position: fixed !important;
  bottom: 60px !important;
  left: 2.5vw;
  top:unset !important;
}
.menu_li{
  background-color: black;
  border: none;
  box-shadow: none;
  border-radius: 40px;
  height: 6.5vh;
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
  margin-bottom:5vh;
}

.pi{
  margin-top: 1.6vh;
}
.przycisk_up{
  margin-top: 1vw;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.menu_li>a{
  padding-top: 2vh !important;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-shadow: none;
  color: white !important;
  
}
.menu_desktop{
  width: 90vw !important;
}

.menu_a{
  font-size: 18px;
  font-family: Tahoma;
  font-weight: bold;
}

.menu_1{
  float:left;
  width:9vw;
  display:flex;
  margin-top: 0.5vw;
}
.menu_2{
  float:left;
  width:9vw;
  display:flex;
  margin-top: 0.8vw;
}
.menu_3{
  float:left;
  width:5vw;
  display:flex;
  margin-top: 0.8vw;
}
.menu_4{
  float:left;
  width:10vw;
  display:flex;
  margin-top: 0.8vw;
}
.menu_5{
  float:left;
  width:10vw;
  display:flex;
  margin-top: 0.8vw;
}
.menu_6{
  float:right;
  width:6vw;
  display:flex;
  margin-top: 0.2vw;
}

.prawy{
padding-left: 0px;
margin-top: 3px;
}
.drugi,
.cztery,
.szesc,
.siedem {
  background-color: var(--jasno-szary);
}

.srodek_1 {
  margin-top: 7px;
}

.srodek {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nizej{
  margin-top: 3vh;
}

.napis {
  position: absolute;
  background: rgba(99, 99, 99, 0.01);
  width: 60%;
  padding: 1%;
  text-align: center;
  top: 90vw;
  left: 30%;
  font-size: 30px;
  color: #fff;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Montserrat';
}

.baner {
  color: white;
  font-family: Tahoma;
  text-shadow: black;
  font-weight: 600;
}

.mi {
  color: var(--czerwony);
  font-weight: 900;
  font-size: 33px;
  font-family: Tahoma;
}

.watch {
  color: black;
  font-weight: 900;
  font-size: 33px;
  font-family: Tahoma;
}

.responsive {
  width: 100%;
  height: auto;
  /*background-image: url('images/zegarek.svg');*/
}

.drugi,
.trzeci,
.cztery,
.piec,
.szesc {
  padding: 20% 4% 20% 4%;
}

.zmiana {
  padding-top: 13%;
  padding-bottom: 13%;
}

.wysrodkuj {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.wysrodkuj_n {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 900;
}

.wysrodkuj_n > a,
.trzeci > a,
.cztery > a,
.piec > a {
  font-family: Tahoma;
  font-weight: 900;
  font-size: 30px;
  color: black;
}

.osiem_r {
  margin-bottom: 5vw;
}
.osiem_n {
  font-family: Tahoma;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.osiem_o {
  font-family: Tahoma;
  font-weight: 100;
  font-size: 14px;
  color: black;
  width: 25vw;
  margin-right: 0px;
  float: left;
}

.osiem_z{
  float:right;
  width: 5vw;
}



.tekst {
  font-family: Tahoma;
  font-weight: 300;
  font-size: 20px;
  color: black;
  margin-top: 20px;
  text-align: justify;
}

.trzeci,
.cztery,
.piec,
.szesc,
.siedem {
  text-align: center;
}

.trzeci > .row {
  margin-top: 10%;
}

.tlo {
  margin-bottom: 2%;
}

.klasa_t {
  font-family: Tahoma;
  font-weight: 300;
  font-size: 16px;
  color: black;
}

.odstep {
  margin-top: 10vh;
}

.tekst_t {
  font-family: Tahoma;
  font-weight: 300;
  font-size: 14px;
  color: black;
  text-align: center;
}

hr {
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--obramowanie);
  width: 85%;
}

.karuzela{
    margin-top: 15vh;
    margin-bottom: 10vh;
}

.opinia>h4{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.szesc {
    padding: 15% 4% 0% 4%;
  }

.szesc > p {
  font-family: Tahoma;
  font-weight: 100;
  font-size: 36px;
  color: black;
  margin-bottom: 10%;
}

.kontakt{
    margin-bottom: 17%;
}

.linia{
    border-top: 1px solid black;
    width: 100%;
    margin-top: 0px;
}

.siedem {
    padding-top: 4%;
    padding-bottom: 65px;
}

.tekst_7{
    color: black;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 15px;

}

.stopka{
    padding-left: 2%;
    padding-right: 2%;
}

  /* Slider */
  
  .slick-slide {
      margin: 0px 0px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 20;
      left: 0;
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

@media screen and (min-width: 813px) {
  .drugi,
.trzeci,
.cztery,
.piec,
.szesc,
.osiem  {
  padding: 15% 4% 15% 4%;
}
  .napis {
    top: 26vw;
    left: 30%;
    font-size: 50px;
    width:40%;
  }

  .mi, .watch {
    font-size: 53px;
  }

  .drugi_a {
    padding: 10% 4% 7% 4%;
    background-color:white;
    height: 44vw;
  }

  .drugi_b {
    padding: 10% 4% 15% 4%;
    background-color:var(--szary);
    height: 44vw;
  }


  .responsive_2 {
    width: 45vw;
    height: auto;
    /*background-image: url('images/zegarek.svg');*/
  }
  .opis_zdj_1{
    width: 42vw;
  }
  .opis_prawy{
    float: right;
  }

  .opis_lewy{
    float: left;
  }
  .tekst_tytul{
    font-weight: bold;
    font-size: 21px;
    color: black;
  }

  .opis_zdj_1>a:active{
    color: black;
  }

  .tekst_opis{
    font-size: 17px;
  }
  .karuzela{
    width: 88vw;
    margin-top: 10vh;
  }
  
  .menu_a{
    font-size: 12px;
    font-family: Tahoma;
    font-weight: bold;
  }
  
  .menu_1{
    float:left;
    width:18vw;
    display:flex;
    margin-top: 1.2vw;
  }
  .menu_2{
    float:left;
    width:14vw;
    display:flex;
    margin-top: 2vw;
  }
  .menu_3{
    float:left;
    width:8vw;
    display:flex;
    margin-top: 2vw;
  }
  .menu_4{
    float:left;
    width:15vw;
    display:flex;
    margin-top: 2vw;
  }
  .menu_5{
    float:left;
    width:15vw;
    display:flex;
    margin-top: 2vw;
  }
  .menu_6{
    float:right;
    width:12vw;
    display:flex;
    margin-top: 0.4vw;
  }

  .tekst_2{
    text-align: center;
  }

  .szesc {
    padding: 10% 4% 10% 4%;
    height: 40vw;
  }

  .szesc>div{
    height: 8vw;
  }
.szesc>div > p {
  font-family: Tahoma;
  font-weight: 100;
  font-size: 30px;
  color: black;
  text-align: left;
  margin-bottom: 10%;
  width: 44vw;
  float: left;
}

.kontakt{
    float: right;
    margin-right: 10vw;
    margin-top: 7vw;
}

.linia{
    border-top: 1px solid black;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.siedem {
  background-color: white;
  padding: 3% 4% 3% 4%;
}

.tekst_7{
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;

}

.tekst_7>img{
  width: 10vw;
}

.stopka{
    padding-left: 2%;
    padding-right: 2%;
}
.osiem_t {
  font-family: Tahoma;
  font-weight: 900;
  font-size: 22px;
  color: black;
}

.osiem_n {
  font-family: Tahoma;
  font-weight: 600;
  font-size: 17px;
  color: black;
  float: left;
}
.osiem_o {
  font-family: Tahoma;
  font-weight: 100;
  font-size: 11px;
  color: black;
  width: 25vw;
  margin-right: 0px;
  float: left;
}

.osiem_z{
  float:right;
  width: 4vw;
}

.osiem_c{
  width: 95vw;
}

  
}


@media screen and (min-width: 950px) {
  .napis {
   
    top: 26vw;
  }

  .mi, .watch {
    font-size: 53px;
  }
  .opis_zdj_1{
    margin-top: 3vw;
  }
  
}

@media screen and (min-width: 1100px) {
  .napis {
    width: 500px;
    top: 26vw;
    font-size: 50px;
  }

  .mi, .watch {
    font-size: 53px;
  }

  .menu_a{
    font-size: 15px;
    font-family: Tahoma;
    font-weight: bold;
  }
  
  .menu_1{
    float:left;
    width:12vw;
    display:flex;
    margin-top: 1vw;
  }
  .menu_2{
    float:left;
    width:12vw;
    display:flex;
    margin-top: 1.6vw;
  }
  .menu_3{
    float:left;
    width:6vw;
    display:flex;
    margin-top: 1.6vw;
  }
  .menu_4{
    float:left;
    width:13vw;
    display:flex;
    margin-top: 1.6vw;
  }
  .menu_5{
    float:left;
    width:11vw;
    display:flex;
    margin-top: 1.6vw;
  }
  .menu_6{
    float:right;
    width:11vw;
    display:flex;
    margin-top: 0.4vw;
  }

  .opis_zdj_1{
    width: 42vw;
    margin-top: 4vw;
  }
  
  .tekst_tytul{
    font-weight: bold;
    font-size: 24px;
    color: black;
  }

  .tekst_opis{
    font-size: 18px;
  }
  .osiem_t {
    font-size: 30px;
  }
  .osiem_n {
    font-size: 20px;
  }
  .osiem_o {
    font-size: 14px;
  }
  
  .osiem_z{
    float:right;
    width: 5vw;
  }
  .szesc>div{
    height: 8vw;
    margin-bottom: 0px;
  }
  .szesc{
    height: 30vw;
  }

  .kontakt{
    margin-top: 2vw;
    margin-bottom: 0px;
}
}

@media screen and (min-width: 1300px) {
  .drugi,
.trzeci,
.cztery,
.piec,
.szesc,
.osiem  {
  padding: 10% 4% 10% 4%;
}
  .napis {
    width: 500px;
    top: 26vw;
    font-size: 52px;
  }

  .mi, .watch {
    font-size: 55px;
  }

  .menu_a{
    font-size: 16px;
    font-family: Tahoma;
    font-weight: bold;
  }
  
  .menu_1{
    float:left;
    width:10vw;
    display:flex;
    margin-top: 0.8vw;
  }
  .menu_2{
    float:left;
    width:10vw;
    display:flex;
    margin-top: 1.2vw;
  }
  .menu_3{
    float:left;
    width:5vw;
    display:flex;
    margin-top: 1.2vw;
  }
  .menu_4{
    float:left;
    width:11vw;
    display:flex;
    margin-top: 1.2vw;
  }
  .menu_5{
    float:left;
    width:10vw;
    display:flex;
    margin-top: 1.2vw;
  }
  .menu_6{
    float:right;
    width:11vw;
    display:flex;
    margin-top: 0.4vw;
  }
  .opis_zdj_1{
    margin-top: 7vw;
  }
  .cecha>.tlo>img{
    width: 50%;
  }
  .szesc>div > p {

    font-size: 30px;
    
  }
  .szesc{
    height: 25vw;
  }
}

@media screen and (min-width: 1500px) {
  .napis {
    width: 500px;
    top: 26vw;
    font-size: 67px;
  }

  .mi, .watch {
    font-size: 70px;
  }
  .cztery>.row{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1800px) {
  .napis {
    width: 600px;
    top:26vw;
    font-size: 80px;
  }

  .mi, .watch {
    font-size: 84px;
  }
  .menu_a{
    font-size: 18px;
    font-family: Tahoma;
    font-weight: bold;
  }
  
  .menu_1{
    float:left;
    width:9vw;
    display:flex;
    margin-top: 0.5vw;
  }
  .menu_2{
    float:left;
    width:9vw;
    display:flex;
    margin-top: 0.8vw;
  }
  .menu_3{
    float:left;
    width:5vw;
    display:flex;
    margin-top: 0.8vw;
  }
  .menu_4{
    float:left;
    width:10vw;
    display:flex;
    margin-top: 0.8vw;
  }
  .menu_5{
    float:left;
    width:10vw;
    display:flex;
    margin-top: 0.8vw;
  }
  .menu_6{
    float:right;
    width:6vw;
    display:flex;
    margin-top: 0.2vw;
  }
  .opis_zdj_1{
    margin-top: 7vw;
  }
  
  .tekst_tytul{
    font-size: 26px;
  }

  .tekst_opis{
    font-size: 20px;
  }

  .szesc>div > p {

    font-size: 36px;
    
  }
}

@media screen and (min-width: 2100px) {
  .napis {
    width: 600px;
    top:26vw;
    font-size: 87px;
  }

  .mi, .watch {
    font-size: 90px;
  }

  .menu_1{
    float:left;
    width:6vw;
    display:flex;
    margin-top: 0.3vw;
  }
  .menu_2{
    float:left;
    width:7vw;
    display:flex;
    margin-top: 0.6vw;
  }
  .menu_3{
    float:left;
    width:4vw;
    display:flex;
    margin-top: 0.6vw;
  }
  .menu_4{
    float:left;
    width:8vw;
    display:flex;
    margin-top: 0.6vw;
  }
  .menu_5{
    float:left;
    width:8vw;
    display:flex;
    margin-top: 0.6vw;
  }
  .menu_6{
    float:right;
    width:6vw;
    display:flex;
    margin-top: 0.2vw;
  }

  .szesc>div > p {

    font-size: 50px;
    
  }

  
}